h1{
    text-align:center;
    color: white;
    font-size: 80px
}

html{
    background-color: black;
}

button{
    display: flex;
    justify-content: center;
    padding: 10%;
    gap: 10px;
    border:black 2px;
    border-radius: 10px;
}

div{
    display:flex;
    justify-content:center;
    align-items:center;
}

.logs {
    list-style: none;
    color: white;
}
